span {
    color: blue;
}

.expandable-genre {
    /* Don't mark text when click-dragging through it */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.expandable-genre > li {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-style: bold;
    list-style-image: url('../images/1495761583_icon-arrow-right-b.png');
    margin: 10px 0px 10px 0px !important;
}

.expandable-genre li ul > li {
    text-transform: none;
    font-size: 16px;
    font-style: none;
}

.expandable-genre > li li {
    list-style: none;
}

.expandable-genre ul {
    display: none;
    list-style-type: none;
    padding-left: 0px;
}

.expandable-genre .expanded {
    list-style-image: url('../images/1495761572_icon-arrow-down-b.png');
}

.expandable-category li > .category-description {
    display: block;
    margin: 1px 0px 10px 25px !important;
    font-size: 14px;
    width: 300px;
    overflow: hidden;
    color: dimgray;
}

.expandable-category li:last-of-type > .category-description {
    margin: 1px 0px 0px 25px !important;
}